.Fpassw-body {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.forgot-password-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.forgot-password-container h2 {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.forgot-password-form input[type="email"],
.forgot-password-form input[type="submit"] {
  background: transparent;
  width: 280px;
  padding: 1em;
  margin-bottom: 1.5em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 10px auto;
}

.forgot-password-form input[type="email"]:focus,
.forgot-password-form input[type="submit"]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

.forgot-password-form input[type="submit"] {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5000px;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
  font-size: .9rem;
}

.forgot-password-form input[type="submit"]:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.forgot-password-form:hover {
  margin: 4px;
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.forgot-password-container p {
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.Fpassw-drops {
  position: relative;
}

.Fpassw-drop {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}

.Fpassw-drop-1 {
  height: 80px;
  width: 80px;
  top: 185px;
  left: -80px;
  z-index: -1;
}

.Fpassw-drop-2 {
  height: 80px;
  width: 80px;
  bottom: 10px;
  right: -80px;
  z-index: -1;
}
